<div class="row">
  <div class="col-md-3">
    <%= label_tag "firebase_app" %>
    <%= text_field_tag "firebase_app", nil %>
    <p id="firebase_app_required" class="error"></p>
  </div>
</div>

<%= form_tag "/uploads", id: "new_upload", class: "dropzone" do %>
  <div class="fallback">
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  </div>
<% end %>

<%= render "previews" %>
